body {
    background-color: grey;

  }

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

text.left{
  border-style: solid;
  padding: 10px;
}
text.right{
  border-style: solid;
  padding: 10px;
}
.title{
  display: flex;
  justify-content: center;

}   


