head {
    justify-content: center;
    font-size: large;
    font-weight: 300;
    gap: 52px;

}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  .info {
    max-width: 200px;
  }